.text{
    text-align: right;
    width: 300px;
    height: 30px;
} 

.customSize {
    width: 25%;
    border: 1px solid black;
    margin: 20px;
    font-size: 8px;
    height: 500px;
    /* 100 = viewport width, as 1vw = 1/100th of that
       Here, the body is 150% of viewport, but the container is 50% 
       of viewport, so both parents factor  into how you want it to size.
       Let's say you like 5vw if it were the whole width,
       then for this container, size it at 3.75vw 
       (5 * 1.5 [i.e. 150%]) * .5 [i.e. 50%]
    */
    font-size: 3.75vw; 
}

.two-images
{
    display:            flex;
    
}
 
.half-width
{
    width:          48%; 
}
.terms-checkbox {
    display: inline-block;
  }
 